body{
  font: 1.15rem "Century Gothic", Futura, sans-serif;
  margin: 1.2rem;
}

ol, ul{
  padding: 30px;
}

.board-row:after{
  clear: both;
  content: "";
  display: table;
}

.status{
  margin-bottom: 1.6rem;
}

.square{
  background: #fff;
  border: 2px solid #000;
  font-size: 1.5rem;
  font-weight: bold;
  width: 2.13rem;
  height: 2.13rem;
  line-height: 2.13rem;
  margin: -1px -1px 0 0;
  padding: 0;
  text-align: center;
}

.square:focus{
  outline: none;
}
